<h1>Stupid Coach - Answers</h1>

<div id="ask">
<h3><%= @search %></h3>
<p>- You</p>
</div>

<div id="answer">
<h3><%= @answer %></h3>
<p>- You coach</p>
</div>


<%= link_to "Ask another question", ask_path %>

